/*!
		Styles: silverstripe-announcements module
		Author: Andrew Haine
		Website: http://www.andrewhaine.co.uk
		Contact: hello@andrewhaine.co.uk
		***
		*** */
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon.icon-16.icon-announcementsadmin {
    background-image: url("../images/icons/pa_icon@2x.png") !important; } }

.ss_announcements__color-preview-block {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 100%;
  color: #fff; }

td.col-ColorPreview {
  padding: 0 !important;
  text-align: center;
  width: 15% !important; }

.main.col-ColorPreview {
  text-align: left; }

#Form_ItemEditForm_StickyPos li,
#Form_ItemEditForm_TakesSpace li,
#Form_ItemEditForm_HasCTA li,
#Form_ItemEditForm_BackgroundTransparency li {
  width: 440px !important; }

body {
  transition: padding-top 0.4s cubic-bezier(0.18, 0.93, 0.34, 0.95);
  transition-delay: .2s; }

.ss_announcement__message-outer {
  padding: 15px 15px 20px;
  border-radius: 7px;
  max-width: 280px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  transition: top 0.4s cubic-bezier(0.18, 0.93, 0.34, 0.95);
  font-family: inherit; }

.ss_announcement__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-right: 10px; }

.ss_announcement--top-left {
  top: 15px;
  left: 15px; }

.ss_announcement--top-right {
  top: 15px;
  right: 15px; }

.ss_announcement--bottom-left {
  bottom: 15px;
  left: 15px; }

.ss_announcement--bottom-right {
  bottom: 15px;
  right: 15px; }

.ss_announcement--bottom-full,
.ss_announcement--top-full {
  left: 0;
  max-width: 10000000px;
  border-radius: 0px;
  width: 100% !important;
  padding-right: 15px; }
  .ss_announcement--bottom-full .ss_announcement__content-container,
  .ss_announcement--top-full .ss_announcement__content-container {
    width: calc(100% - 40px);
    padding-right: 25px; }

.ss_announcement--bottom-full {
  bottom: 0px; }

.ss_announcement--top-full {
  top: 0px; }

.ss_announcement__cta-holder {
  width: 100%;
  margin-top: 15px;
  text-align: right; }

.ss_announcement__cta {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.ss_announcement__title {
  display: block;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 90%;
  margin-bottom: 8px;
  font-size: 1.4rem;
  line-height: 120%;
  font-weight: 800; }

.ss_announcement__cross-holder {
  position: relative;
  display: block;
  height: 25px;
  width: 10%;
  margin: 0 0 10px;
  text-align: right;
  transform: translateY(-1px);
  cursor: pointer; }

.ss_announcement__cross {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 25px;
  height: 1.4rem; }
  .ss_announcement__cross:before, .ss_announcement__cross:after {
    position: absolute;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 20px;
    height: 4px;
    content: '';
    background: #fff;
    border-radius: 2px; }
  .ss_announcement__cross:before {
    transform: rotate(45deg); }
  .ss_announcement__cross:after {
    transform: rotate(-45deg); }

.ss_announcement__content {
  max-width: 1240px; }
  .ss_announcement__content a {
    color: inherit;
    text-decoration: underline; }

.ss_announcement__animating-out {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.18, 0.93, 0.34, 0.95); }

.ss_announcement__content-container {
  max-width: 1128px;
  margin: 0 auto; }

.ss_announcement--hidden {
  visibility: hidden; }
