/*!
		Styles: silverstripe-announcements module
		Author: Andrew Haine
		Website: http://www.andrewhaine.co.uk
		Contact: hello@andrewhaine.co.uk
		***
		***

// Custom retina logo
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
	.icon.icon-16.icon-announcementsadmin
		background-image: url('../images/icons/pa_icon@2x.png') !important

// Color preview block in CMS
.ss_announcements__color-preview-block
	display: inline-flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	color: #fff

td.col-ColorPreview
	padding: 0 !important
	text-align: center
	width: 15% !important

.main.col-ColorPreview
	text-align: left

// CMS adjustments
#Form_ItemEditForm_StickyPos,
#Form_ItemEditForm_TakesSpace,
#Form_ItemEditForm_HasCTA,
#Form_ItemEditForm_BackgroundTransparency
	li
		width: 440px !important

body
	&.ss_announcements__body--animatable
		transition: padding-top .4s cubic-bezier(.18, .93, .34, .95)

.ss_announcement__message-outer
	padding: 15px
	border-radius: 7px
	max-width: 200px
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3)
	z-index: 10000
	transition: top .4s cubic-bezier(.18, .93, .34, .95)
	font-family: inherit

@media screen and (min-width: 500px)
	.ss_announcement__message-outer
		max-width: 300px

@media screen and (min-width: 900px)
	.ss_announcement__message-outer
		max-width: 450px

.ss_announcement__top
	display: flex
	justify-content: flex-end
	align-items: flex-start
	padding-right: 10px


// Different positions on the page
.ss_announcement-position--top-left
	top: 15px
	left: 15px

.ss_announcement-position--top-right
	top: 15px
	right: 15px

.ss_announcement-position--bottom-left
	bottom: 15px
	left: 15px

.ss_announcement-position--bottom-right
	bottom: 15px
	right: 15px

.ss_announcement-position--bottom-full,
.ss_announcement-position--top-full
	left: 0
	max-width: 10000000px
	border-radius: 0px
	width: 100% !important
	padding-right: 15px

	.ss_announcement__content-container
		padding-right: 25px

	@media screen and (min-width: 600px)
		.ss_announcement__content-container
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			width: calc(100% - 40px)

			.ss_announcement__top
				width: 100%
				flex-shrink: 0

			.ss_announcement__cta-holder
				flex-shrink: 0
				width: 200px
				margin-top: 11px

			.ss_announcement__info-holder
				flex-shrink: 0
				width: calc(100% - 250px)



.ss_announcement-position--bottom-full
	bottom: 0px

.ss_announcement-position--top-full
	top: 0px

// CTA styles
.ss_announcement__cta-holder
	width: 100%
	margin-top: 15px
	text-align: center

@media screen and (min-width: 460px)
	.ss_announcement__cta-holder
		text-align: right

.ss_announcement__cta
	display: inline-flex
	justify-content: center
	align-items: center
	padding: 10px 30px
	border-radius: 4px
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3)
	text-decoration: none !important

	*
		text-decoration: none !important

	&:visited
		text-decoration: none !important

// Text styles
.ss_announcement__title
	display: block
	flex-grow: 1
	width: 90%
	margin-right: 16px
	font-size: 1.4rem
	line-height: 120%
	font-weight: 800

// Close button
.ss_announcement__cross-holder
	position: relative
	display: block
	height: 20px
	width: 10%
	margin: 0 0 4px
	text-align: right
	transform: translateY(2px)
	cursor: pointer

.ss_announcement__cross
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	width: 20px
	height: 20px
	background-size: 20px
	background-repeat: no-repeat
	background-position: center
	background-image: url('../images/icons/close-icon.png')

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
	.ss_announcement__cross
		background-image: url('../images/icons/close-icon@2x.png')

@media only screen and (-webkit-min-device-pixel-ratio: 3), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 3dppx)
	.ss_announcement__cross
		background-image: url('../images/icons/close-icon@3x.png')

.ss_announcement__content
	display: block
	padding-top: 10px-position
	max-width: 1240px

	a
		color: inherit
		text-decoration: underline

.ss_announcement__animating-out
	opacity: 0
	transition: opacity .5s cubic-bezier(.18, .93, .34, .95)

.ss_announcement__content-container
	max-width: 1128px
	margin: 0 auto

.ss_announcement--hidden
	visibility: hidden
